.DaysList {
    background-color: #fff;
    border: 1px solid #cbcbcb;
    border-radius: 4px;
    display: flex;
    padding: 2px;
    width: 200px;
    position: absolute;
    transform: translate3d(260px, 380px, 0px);
    top: 0px;
    left: 0px;
    will-change: transform;
    }

.day {
    border: 1px solid #cbcbcb;
    border-radius: 2px;
    background-color: transparent;
    color: #cbcbcb;
    padding: 2px;
    margin: 4px;
    font-size: 0.75em;
    width: 24px;
    height: 24px;
}
