.item {
    display: block;
    text-align: center;
}

.img {
    display: block;
    border: 1px solid #cdcdcd;
    border-radius: 1rem;
    margin: 0 auto;
    padding: 0.5rem;
    width: 58px;
    height: 58px;
}

.caption {
    display: block;
    font-size: 0.75em;
    margin-top: 0.5rem;
}
