.item {
    background-color: transparent;
    border: none;
    display: block;
    text-align: center;
    outline: none;
    cursor: pointer;
}

.item:hover>img {
    background-color: #e8eaf6;
}

.item:hover>.caption {
    color: #303f9f;
}

.btnActive>img {
    background-color: #b9f6ca;
}

.btnActive>.caption {
    color: #b9f6ca;
}

.img {
    display: block;
    border: 1px solid #cdcdcd;
    border-radius: 1rem;
    margin: 0 auto;
    padding: 0.5rem;
    width: 58px;
    height: 58px;
}

.caption {
    display: block;
    font-size: 0.75em;
    margin-top: 0.5rem;
}
