.wrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;
    min-height: 40px;
    line-height: 40px;
    color: #757575;
}

.wrapper:nth-child(2n) {
    background-color: #f8f8f8;
}

.icon_wrapper {
    display: flex;
    flex-basis: 60%;
}

.number {
    /* flex: 0 0 30px; */
    flex-basis: 3%;
    text-align: right;
}

.title {
    box-sizing: border-box;
    flex-basis: 37%;
    /* width: 40%; */
    padding-left: 10px;
    word-wrap: break-word;
}

.sign {
    /* flex: 0 0 82px; */
    flex-basis: calc(100% / 6);
}

.sign:nth-child(3){
    background-color: #efefff; /*#f3f4fb*/
}

.sign__todo {
    background: url('../../images/icon-17_gray.svg') no-repeat 50% 50%;
    background-size: 25px;
}

.sign__done{
     background: url('../../images/icon-17.svg') no-repeat 50% 50%;
     background-size: 25px;
}

.sign__not_done{
    background: url('../../images/icon-19.svg') no-repeat 50% 50%;
    background-size: 20px;
}

.sign__none{
    background: url('../../images/icon-18.svg') no-repeat 50% 50%;
    background-size: 25px;
}

.basket {
    /* flex: 0 0 82px; */
    flex-basis: calc(100% / 6);
    background: url('../../images/icon-13.svg') no-repeat 50% 50%;
    background-size: 15px;
    border: none;
}

.basket:hover {
    background: url('../../images/icon-13_orange.svg') no-repeat 50% 50%;
    background-size: 15px;
}
