.wrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 30px;
    line-height: 30px;
    color: #757575;
}

.number {
    width: 5%;
    text-align: right;
}

.title {
    width: 40%;
    padding-left: 20px;
}

.sign {
    width: 8%;
}

.sign:nth-child(5){
    background-color: #f3f4fb;
}

.sign__todo {
    background: url('../../images/icon-17_gray.svg') no-repeat 50% 50%;
    background-size: 25px;
}

.sign__done{
     background: url('../../images/icon-17.svg') no-repeat 50% 50%;
     background-size: 25px;
}

.sign__not_done{
    background: url('../../images/icon-19.svg') no-repeat 50% 50%;
    background-size: 20px;
}

.sign__none{
    background: url('../../images/icon-18.svg') no-repeat 50% 50%;
    background-size: 25px;
}

.basket {
    width: 10%;
    background: url('../../images/icon-13.svg') no-repeat 50% 50%;
    background-size: 20px;
}

.basket__orange {
    width: 10%;
    background: url('../../images/icon-13_orange.svg') no-repeat 50% 50%;
    background-size: 20px;
}
